
.goule-shopping-noGoods{
	padding-top:1.5rem ;
	text-align: center;
}
.goule-shopping-hint{
	margin: 0;
	padding: 0;
	font-size: .4rem;
	color: gray;
}
.small{
	font-size: .3rem;
}
.goule-shopping-noGoods-btn{
	font-size: .4rem;
	border: 1px solid red;
	color: red;
	padding: .3em 1.2em;
	border-radius: .3em;	
}