.goule-footer-area-holder{
	height: .85rem;	
}
.goule-footer-area{
	position: fixed;
	border-top: 1px solid lightgray;
	width: 100%;
	bottom: 0;
	background: #f9fcfb;
	font-size: 0;
	height: .85rem;
	z-index: 10;
}
.goule-footer-area i{
	font-size: .5rem;
	color: gray;
	line-height: .9rem;
	position: absolute;
	top: calc(50% - .58rem);
	left: calc(50% - .25rem);
	text-shadow: none;
}
.goule-footer-area>div{
	margin: 0;
	padding: 0;
	height: .9rem;
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 25%;
	text-align: center;
	position: relative;
}
.goule-footer-p{
	-webkit-transform-origin-x: 0;
    -webkit-transform: scale(0.80);	
	margin: 0;
	padding: 0;
	font-size: .27rem;
	font-weight: bold;
	color: gray;
	position: absolute;
	top: .55rem;
	left: .45rem;
	text-shadow: none;
	width: 1.2rem !important;
}
div[data-tag="0"] > p{
	left: .47rem;
}
.goule-footer-area .icon-active{
	color: red;
}
.goule-footer-area .title-active{
	color: red;
}
