.goule-footer-area-holder{
	height: 1.2rem;	
}
.goule-footer-area{
	position: fixed;
	border-top: 1px solid lightgray;
	width: 100%;
	bottom: 0;
	background: #f9fcfb;
	font-size: 0;
	height: 1.2rem;
	z-index: 10;
}
.goule-footer-area i{
	font-size: .5rem;
	color: gray;
	line-height: 1rem;
	position: absolute;
	top: calc(50% - .6rem);
	left: calc(50% - .25rem);
	text-shadow: none;
}
.goule-footer-area>div{
	margin: 0;
	padding: 0;
	height: 1rem;
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 25%;
	text-align: center;
	position: relative;
}
.goule-footer-p{
	margin: 0;
	padding: 0;
	font-size: .3rem;
	color: gray;
	position: absolute;
	top: .7rem;
	left: calc(50% - .6rem);
	text-shadow: none;
}
.goule-footer-area .icon-active{
	color: red;
}
.goule-footer-area .title-active{
	color: red;
}
